@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Tektur&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 767px) {
    .content{
        flex-direction: column!important;
    }
    .content p,.row4 div p,ul{
        font-size: 15px;
    }

}

body {
    font-family: Arial, sans-serif;
    padding:10px ;
    border: 5px solid #fff;
}


.container {
    padding: 20px;
}

.content{
    display: flex;
    justify-content: space-between;
}

.content h1 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Tektur', sans-serif;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    padding-right: 10px;
    padding-top: 18px;
}

.pic .image1{
    height: 200px;
    width: 200px;
    /* max-width: 100%; */
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    object-fit: cover;
}

.main{
    background-image: linear-gradient(135deg, rgb(251, 129, 7), #ffffff, #008000);
    border-radius:10px ;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: disc;
    padding: 10px;
    margin: 10px 20px;
    font-size: 16px;

}

.footer-content a:hover {
    transform: scale(2);
}

h3{
    padding: 10px 20px;
    text-decoration: .2px underline #000;
}

h3::before{
    content:"\2694   ";
}

i{
    color:blue!important;
}

.row4 div{
    padding: 10px 20px;
    display: flex;
}

.row4 div p{
    font-size: 16px;
}




.img2 {
    height: 270px;
    width: 220px;
    border-radius: 50%;
    float: right;
}


.footer-content{
    display: flex;
    justify-content: space-between;
    padding-left:15px;
    padding-right: 15px;
    align-items: center;
    font-size: 20px;
    position: relative;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}

